<div class="salesbot-widget">
    <div class="salesbot-error">
        <div class="icon">&#9888;</div>
        <div class="message">{{ error_message }}</div>
        <button class="refresh-btn js-salesbot-refresh" style="margin-top: 15px;">
            {{ widget.langs.retry }}
        </button>
    </div>
</div>
